<script>
    $(document).ready(function(){
      $('html,body').animate({
        scrollTop: $('html').offset().top
      },'slow');

      $(".overlay").click(function(){
        $(".overlay").fadeOut(1000);

        $('html,body').animate({
          scrollTop: $('form').offset().top
        },'slow');

        $("#name").focus();
      });

      $(".error-msg").hide();
    });
  </script>

<div class="container-fluid overlay">
    <div class="alert alert-primary text-center" role="alert">
      Click on the screen to navigate to form page.
    </div>
  </div>
    <div class="container">
    <div class="card" style="width: 100%;">
      <img src="assets/images/Finals_Banners_6_2.jpg" class="card-img-top" alt="Finals_Banners_6_2.jpg">
      <div class="card-body">
        <form action="form-complete.html" method="get">
          <div class="row">
            <div class="col">
              <input type="text" required id="name" [(ngModel)]="name" name="name" class="form-control" placeholder="Name">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <!-- <input type="text" id="age" name="age" pattern="\d*" maxlength="2" class="form-control" placeholder="Age"> -->
              <select class="form-select" [(ngModel)]="location" name="location">
                <option value="Location">Location</option>
                <option value="Maharashatra Nagar, Mankhurd">Maharashatra Nagar, Mankhurd</option>
                <option value="PMGP Colony, Mankhurd">PMGP Colony, Mankhurd</option>
                <option value="Mankhurd">Mankhurd</option>
                <option value="Chembur">Chembur</option>
                <option value="Navi Mumbai">Navi Mumbai</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" pattern="\d*" required id="mobile" [(ngModel)]="mobile" name="mobile" maxlength="10" class="form-control" placeholder="Mobile Number">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-success" (click)="submitForm()" [disabled]="clicked==='disabled'?'disabled':null">Add Your Vote</button>
            </div>
          </div>
          <div class="alert alert-danger error-msg" *ngIf="error" role="alert">
            Please add valid data
          </div>
          <div class="alert alert-success valid-msg" *ngIf="success" role="alert">
            Validated
          </div>
        </form>
      </div>
    </div>
  </div>